* {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.col-lg-12,
.col-lg-5,
.col-lg-4 {
  position: relative;
  height: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  color: black;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body a:hover {
  text-decoration: none;
  color: blue;
}

body a:focus {
  outline: none;
}

body p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  line-height: 1.875em;
  color: #666e74;
  font-size: 17px;
  margin: 0;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body input .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 1.22em;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus {
  outline: none;
}

h6 {
  font-size: 20px;
}

.no-pad {
  padding: 0;
}

.sec-padding {
  padding: 80px 0;
}

.sec-title {
  padding: 20px 0;
}

.sec-title h6 {
  color: #d61b23;
}

.sec-background {
  background-color: white;
}

*:focus {
  outline: none;
}

#myTopbtn {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 25px;
  z-index: 99;
  font-size: 26px;
  border: none;
  outline: none;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 9px 0px #00000063;
          box-shadow: 0px 0px 9px 0px #00000063;
  background: #d78f00;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0.7;
}

#myTopbtn:hover {
  opacity: 1;
  cursor: pointer;
}

.inner-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.inner-breadcrumb .sec-title {
  padding-top: 30px;
  padding-bottom: 10px;
}

.inner-breadcrumb .sec-title p {
  color: white !important;
}

.inner-breadcrumb .sec-title h3 {
  color: white !important;
  font-weight: 800 !important;
}

.inner-breadcrumb::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 24, 110, 0.815);
  z-index: -1;
}

.ib-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ib-content .breadcrumb {
  background-color: transparent;
}

.ib-content .breadcrumb a {
  color: white;
  font-size: 16px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.header-main .header-left {
  display: inline-block;
}

.header-main .header-left img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-main .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main .header-right ul li {
  padding: 0 20px;
}

.header-main .header-right ul li a {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 6px;
  cursor: pointer;
}

.header-main .header-right ul li a:hover {
  background-color: #EA1818;
  padding: 6px;
  color: white;
}

.header-main .header-right .hr-call a {
  font-size: 20px;
  height: 50px;
  width: 50px;
  background-color: none;
  border: 3px solid #EA1818;
  line-height: 50px;
  text-align: center;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header-main .header-right .hr-call a i {
  padding-right: 10px;
}

.header-main .header-right .hr-call a:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.header-wrapper {
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-banner-single {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 1;
}

.main-banner-single .mbs-content {
  text-align: center;
}

.main-banner-single .mbs-content h5 {
  text-align: center;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.main-banner-single .mbs-content h4 {
  text-align: center;
  padding: 10px 0px 30px 0px;
  color: white;
  font-size: 86px;
  font-weight: 800;
}

.main-banner-single .mbs-content p {
  color: white;
  padding-bottom: 30px;
  width: 50%;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.main-banner-single .mbs-content a {
  font-size: 13px;
  padding: 10px 15px;
  background-color: #EA1818;
  color: white;
  width: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  -webkit-box-shadow: 3px 1px 0px 0px #80808000;
          box-shadow: 3px 1px 0px 0px #80808000;
}

.main-banner-single .mbs-content a:hover {
  color: #EA1818;
  border: 1px solid red;
  background: none;
}

.main-banner-single::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 24, 110, 0.815);
  z-index: -1;
}

.main-banner-single .mbs-learn-more {
  padding: 30px 0;
}

.main-banner .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-banner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.main-banner .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: -8px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0);
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  margin-left: 4px;
  background: #EA1818;
}

.ms-single {
  position: relative;
  bottom: 300px;
  -webkit-box-shadow: 7px 6px 6px 0px #88888821;
          box-shadow: 7px 6px 6px 0px #88888821;
}

.ms-single .ms-img img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
}

.ms-single .ms-text {
  padding: 20px;
}

.bar-design img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: 56px;
}

.main-about .sec-title h3 {
  text-align: rights;
}

.main-about .ma-text {
  padding: 0px 10px;
}

.main-about .ms-learn-more {
  padding: 20px 0;
}

.main-about .ms-learn-more a {
  font-size: 13px;
  padding: 10px 15px;
  background-color: #EA1818;
  color: white;
  width: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.main-about .ms-learn-more a:hover {
  color: #EA1818;
  border: 1px solid red;
  background: none;
}

.ma-img-one img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-service .ms-text h3 {
  text-align: center;
  padding: 20px 0;
}

.main-service .ms-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-service .sec-padding-custom {
  padding-top: 40px;
  padding-bottom: 80px;
}

.main-service .ms-main-obj-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 20px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main-service .ms-main-obj-single .msol-img {
  padding: 40px;
  background: whitesmoke;
  -webkit-box-shadow: 1px 1px 1px #f8f8f8;
          box-shadow: 1px 1px 1px #f8f8f8;
}

.main-service .ms-main-obj-single .msol-img img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  cursor: pointer;
}

.main-service .ms-main-obj-single .ms-obj-right {
  padding: 0 20px;
}

.main-service .ms-main-obj-single .ms-obj-right h6 a::before {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 18px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-right: 10px;
  color: #acacac;
}

.main-service .ms-learn-more {
  padding: 20px 0;
}

.main-service .ms-learn-more a {
  font-size: 13px;
  padding: 10px 15px;
  background-color: #EA1818;
  color: white;
  width: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.main-service .ms-learn-more a:hover {
  color: #EA1818;
  border: 1px solid red;
  background: none;
}

.main-service .bar-design img {
  position: relative;
  top: 124px;
}

.main-testimonial .mtc-single {
  position: relative;
}

.main-testimonial .mtc-single .mtc-top-img {
  position: absolute;
  bottom: 80%;
  left: 40%;
  text-align: center;
  z-index: 22;
}

.main-testimonial .mtc-single .mtc-top-img img {
  height: 120px;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.main-testimonial .mtc-single .mtc-img {
  overflow: hidden;
  position: relative;
}

.main-testimonial .mtc-single .mtc-img img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.main-testimonial .mtc-single .mtc-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 24, 110, 0.815);
  z-index: 1;
}

.main-testimonial .mtc-single .mtc-img::before {
  content: "\f02e";
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  color: white;
  font-size: 25px;
}

.main-testimonial .mtc-single .mtc-text {
  padding: 10px 60px;
  z-index: 2;
  position: absolute;
  bottom: 50px;
  left: 0;
  color: white;
}

.main-testimonial .mtc-single .mtc-text p {
  color: white !important;
  line-height: 1.3rem;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-testimonial .mtc-single .mtc-text a {
  color: white;
}

.main-testimonial .mtc-single .mtc-text i {
  padding: 10px 0;
  color: #ea1818;
  font-size: 35px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.main-testimonial .mtc-single .mtc-text i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sec-padding-custom {
  padding-bottom: 0;
  padding-top: 80px;
}

.at-your-service .sec-title {
  text-align: center;
}

.at-your-service .sec-title h3 {
  font-weight: 800;
  padding: 10px 0px;
  color: #c20404;
  letter-spacing: 18px;
  font-size: 100px;
  text-shadow: 6px 4px 1px #00000030;
}

.at-your-service .sec-title span {
  color: grey;
}

.at-your-service .sec-title span i {
  margin-right: 10px;
  color: grey;
}

.at-your-service .ays-text {
  padding-bottom: 20px;
}

.at-your-service .ays-text p {
  text-align: center;
}

.at-your-service .ays-img {
  padding: 10px 0;
}

.at-your-service .ays-img img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.abuc-img {
  padding: 50px 0;
}

.abuc-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.abuc-text ul li {
  padding: 10px 15px;
  font-family: "Lato", sans-serif;
  color: #666e74;
  font-size: 16px;
  width: 90%;
  position: relative;
  line-height: 25px;
}

.abuc-text ul li:before {
  content: "\f111";
  font-family: "Font Awesome 5 free";
  font-weight: 800;
  margin-right: 10px;
  font-size: 8px;
  position: absolute;
  top: 12px;
  left: 0px;
}

.cu-form .form-group {
  width: 100%;
}

.cu-form button {
  background-color: #2542E8;
  font-size: 13px;
}

.cuc-contact {
  text-align: center;
  padding: 50px;
  background-color: #291f62;
  position: relative;
  bottom: 100px;
  z-index: 33;
  -webkit-box-shadow: 1px 1px 5px #55555547;
          box-shadow: 1px 1px 5px #55555547;
}

.cuc-contact a {
  font-size: 20px;
  color: #4e4e4e;
  padding: 0 20px;
  color: white;
  height: 50px;
  width: 50px;
}

.cuc-contact a span {
  margin-left: 10px;
}

.cuc-contact a i {
  font-size: 30px;
  height: 60px;
  width: 60px;
  background-color: #ea1818;
  border-radius: 50%;
  line-height: 60px;
}

.cu-map {
  padding: 0 20px;
}

.ss-image {
  padding: 20px 0;
}

.ss-image img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ss-image .ss-img-caption {
  text-align: center;
  padding: 20px 0;
}

.ss-image .ss-img-caption i {
  margin-right: 10px;
}

.ss-image .ss-img-caption span {
  padding: 0px 10px;
  color: #474747;
}

.ss-image .ss-img-caption p {
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}

.testimonial .tc-single {
  background-color: whitesmoke;
  padding: 60px;
}

.testimonial .tc-single .tc-title h4 {
  padding: 5px 0;
}

.testimonial .tc-single .tc-profile img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.testimonial .tc-single .tc-video {
  padding: 20px 0;
}

.testimonial .tc-single .tc-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftml-img {
  text-align: center;
}

.ftml-img img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 50%;
}

.footer-main {
  background-color: #2a2a2a;
}

.footer-main .ftml-text {
  padding: 10px 20px;
}

.footer-main .ftml-text p {
  color: white;
  padding: 10px 0;
}

.footer-main .ftml-text span a {
  color: white;
}

.footer-main .ftmc-link {
  color: white;
}

.footer-main .ftmc-link li {
  padding: 5px 0;
}

.footer-main .ftmc-link a {
  color: white;
}

.footer-main .social-link {
  padding: 45px 0;
}

.footer-main .social-link h5 {
  color: white;
}

.footer-main .social-link ul li {
  padding: 5px 0;
  color: white;
}

.footer-main .social-link ul li i {
  margin-right: 5px;
  color: white;
}

.footer-main .social-link ul li a {
  color: white;
}

.footer-main .ftm-center {
  margin-left: 60px;
}

.footer-main .ftm-center .ftmr-form {
  padding: 20px 0;
  width: 100%;
}

.footer-main .ftmlt-contact {
  padding: 10px 0;
}

.footer-main .ftmlt-contact a {
  color: white;
}

.footer-main .ftmlt-contact a i {
  margin-right: 10px;
  padding: 8px 0;
  color: white;
}

.footer-main .ftmr-content h5 {
  color: white;
  padding: 0 10px;
}

.footer-main .ftmr-form {
  padding: 20px 0;
}

.footer-main .ftmr-form button {
  background-color: #2542e8;
  color: white;
  font-size: 12px;
}

.footer-main .footer-bottom p {
  text-align: center;
}

.footer-main .footer-bottom p a {
  color: black !important;
}

.footer-main .form-group {
  margin-bottom: 1rem;
  width: 80%;
  color: white;
}

.custom-pad {
  padding: 50px 0;
}

@media (max-width: 575.98px) {
  body p {
    font-size: 15px;
    margin: 0;
  }
  .col-lg-12,
  .col-lg-5,
  .col-lg-4 {
    padding: 0;
  }
  .header-right {
    display: none;
  }
  .main-banner-single h4 {
    font-size: 14px;
  }
  .main-banner-single .mbs-content h4 {
    font-size: 27px;
  }
  .main-banner-single .mbs-content p {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    line-height: 23px;
  }
  .sec-padding {
    padding: 35px 0;
  }
  .main-service .ms-main-obj-single {
    display: block;
    text-align: center;
    background-color: white;
  }
  .main-service .ms-main-obj-single .msol-img {
    padding: 40px;
    background: white;
  }
  .main-service .ms-main-obj-single .msol-img img {
    height: 100px;
    width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-service .ms-learn-more {
    padding: 20px 0;
    text-align: center;
  }
  .main-about .ms-learn-more {
    padding: 20px 0;
    text-align: center;
  }
  .main-about .ma-text {
    padding: 0px 0px;
  }
  .at-your-service .sec-title h3 {
    letter-spacing: 5px;
    font-size: 45px;
  }
  .main-service .ms-main-obj-single .ms-obj-right {
    padding: 0px 10px;
  }
  .ms-text {
    padding: 0 10px;
  }
  .footer-main .ftm-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
  .footer-main .form-group {
    margin-bottom: 1rem;
    width: 100%;
    color: white;
    padding: 0px 10px;
    /* text-align: center; */
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 35px;
    line-height: 1.22em;
    margin-bottom: 0;
  }
  h6 {
    font-size: 14px;
  }
  .at-your-service .ays-text p {
    text-align: justify;
  }
  .main-testimonial .mtc-single {
    margin-top: 60px;
  }
  .main-testimonial .mtc-single:last-child {
    padding-bottom: 0px;
  }
  .ms-obj-right h6 {
    font-size: 20px;
  }
  .abuc-img img {
    height: 350px;
  }
  .abuc-text ul li {
    font-size: 13px;
    width: 100%;
    line-height: 23px;
    text-align: justify;
  }
  .ib-content .breadcrumb a {
    color: white;
    font-size: 12px;
  }
  .inner-breadcrumb .sec-title h3 {
    font-size: 25px;
  }
  .ss-image img {
    width: 100%;
    height: 355px;
  }
  .ss-image .ss-img-caption span {
    padding: 1px 9px;
    font-size: 11px;
  }
  .ss-image .ss-img-caption p {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
  }
  .cuc-contact {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body p {
    font-size: 13px;
  }
  .header-right {
    display: none;
  }
  .main-banner-single .mbs-content h4 {
    font-size: 48px;
  }
  .main-banner-single .mbs-content p {
    width: 70%;
    font-size: 15px;
  }
  .main-testimonial .mtc-single .mtc-text {
    padding: 1px 19px;
    bottom: 5px;
  }
  .main-testimonial .mtc-single .mtc-text p {
    line-height: 1.2rem;
    font-size: 12px;
  }
  .main-testimonial .mtc-single .mtc-img img {
    height: 280px;
  }
  .main-testimonial .mtc-single .mtc-top-img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main-testimonial .mtc-single .mtc-top-img img {
    height: 100px;
    width: 100px;
  }
  .footer-main .ftm-center {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-main .form-group {
    width: 100%;
  }
  .footer-main .ftmr-form {
    padding: 20px;
  }
  .footer-main .ftmr-content h5 {
    padding: 0px 20px;
  }
  .cuc-contact {
    display: none;
  }
  .cu-map {
    padding: 30px 20px;
  }
}
/*# sourceMappingURL=main.css.map */