* {
    padding: 0;
    margin: 0;
}

@import "./base/base";
@import "./base/mixins";
@import "./base/variables";
//   HEADER PHP
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    // background: #0000001c;
    z-index: 99;
    .header-left {
        display: inline-block;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
    .header-right {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 20px;
                a {
                    color: white;
                    transition: all 0.3s ease;
                    padding: 6px;
                    cursor: pointer;
                    &:hover {
                        background-color: $secondary-color;
                        padding: 6px;
                        color: white;
                    }
                }
            }
        }
        .hr-call {
            a {
                font-size: 20px;
                height: 50px;
                width: 50px;
                background-color: none;
                border: 3px solid $secondary-color;
                line-height: 50px;
                text-align: center;
                transition: 0.1s linear;
                i {
                    padding-right: 10px;
                }
                &:hover {
                    transform: scale(1.1) !important;
                }
            }
        }
    }
}

.header-wrapper {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

// INDEX PHP
// Main-Banner
.main-banner-single {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit: fill;
    z-index: 1;
    .mbs-content {
        text-align: center;
        h5 {
            text-align: center;
            color: white;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: capitalize;
        }
        h4 {
            text-align: center;
            padding: 10px 0px 30px 0px;
            color: white;
            font-size: 86px;
            font-weight: 800;
        }
        p {
            color: white;
            padding-bottom: 30px;
            width: 50%;
            display: inline-block;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
        }
        a {
            @include btn-learn-more();
            box-shadow: 3px 1px 0px 0px #80808000;
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(32, 24, 110, 0.815);
        z-index: -1;
    }
    .mbs-learn-more {
        padding: 30px 0;
    }
}

.main-banner {
    // slick fix
    .slick-initialized {
        .slick-slide {
            display: flex;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 30px;
        right: 20px;
        li {
            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: -8px;
                cursor: pointer;
                color: rgba(255, 0, 0, 0);
                border: 1px solid;
                border-radius: 8px;
                outline: none;
                margin-left: 4px;
                background: $secondary-color;
            }
        }
    }
}

.ms-single {
    position: relative;
    bottom: 300px;
    box-shadow: 7px 6px 6px 0px #88888821;
    .ms-img {
        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
            background-attachment: fixed;
        }
    }
    .ms-text {
        padding: 20px;
    }
}

.bar-design {
    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        position: relative;
        bottom: 56px;
    }
}

// MAIN ABOUT US SECTION
.main-about {
    .sec-title {
        h3 {
            text-align: rights;
        }
    }
    .ma-text {
        padding: 0px 10px;
    }
    .ms-learn-more {
        padding: 20px 0;
        a {
            @include btn-learn-more();
        }
    }
}

.ma-img-one {
    img {
        width: 100%;
        object-fit: cover;
    }
}

// MAIN SERVICE SECTION
.main-service {
    .ms-text {
        h3 {
            text-align: center;
            padding: 20px 0;
        }
    }
    .ms-img {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .sec-padding-custom {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .ms-main-obj-single {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 20px 0;
        transition: all 0.4s ease;
        .msol-img {
            padding: 40px;
            background: whitesmoke;
            box-shadow: 1px 1px 1px rgb(248, 248, 248);
            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                filter: grayscale(50%);
                cursor: pointer;
            }
        }
        .ms-obj-right {
            padding: 0 20px;
            h6 {
                a {
                    &::before {
                        content: "\f35d";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 800;
                        font-size: 18px;
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        padding-right: 10px;
                        color: rgb(172, 172, 172);
                    }
                }
            }
        }
    }
    .ms-learn-more {
        padding: 20px 0;
        a {
            @include btn-learn-more();
        }
    }
    .bar-design {
        img {
            position: relative;
            top: 124px;
        }
    }
}

// MAIN TESTIMONIAL
.main-testimonial {
    .mtc-single {
        position: relative;
        .mtc-top-img {
            position: absolute;
            bottom: 80%;
            left: 40%;
            text-align: center;
            z-index: 22;
            img {
                height: 120px;
                width: 120px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid white;
            }
        }
        .mtc-img {
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                z-index: -1;
                overflow: hidden;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(32, 24, 110, 0.815);
                z-index: 1;
            }
            &::before {
                content: "\f02e";
                position: absolute;
                right: 30px;
                top: 20px;
                z-index: 2;
                font-family: "Font Awesome 5 Free";
                font-weight: 800;
                color: white;
                font-size: 25px;
            }
        }
        .mtc-text {
            padding: 10px 60px;
            z-index: 2;
            position: absolute;
            bottom: 50px;
            left: 0;
            color: white;
            p {
                color: white !important;
                line-height: 1.3rem;
                font-size: 15px;
                font-weight: 500;
                justify-content: center;
            }
            a {
                color: white;
            }
            i {
                padding: 10px 0;
                color: #ea1818;
                font-size: 35px;
                transition: all 0.3s ease;
                margin-top: 10px;
                &:hover {
                    transform: scale(1.2);
                    // color: rgb(53, 53, 53);
                }
            }
        }
        // &:hover .mtc-img {
        //     transform: scale(0.95);
        // }
    }
}

.sec-padding-custom {
    padding-bottom: 0;
    padding-top: 80px;
}

.at-your-service {
    .sec-title {
        text-align: center;
        h3 {
            font-weight: 800;
            padding: 10px 0px;
            color: #c20404;
            letter-spacing: 18px;
            font-size: 100px;
            text-shadow: 6px 4px 1px #00000030;
        }
        span {
            color: grey;
            i {
                margin-right: 10px;
                color: grey;
            }
        }
    }
    .ays-text {
        padding-bottom: 20px;
        p {
            text-align: center;
        }
    }
    .ays-img {
        padding: 10px 0;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
}

// ABOUT PHP
.abuc-img {
    padding: 50px 0;
    img {
        width: 100%;
        object-fit: cover;
        height: 500px;
    }
}

.abuc-text {
    ul {
        li {
            padding: 10px 15px;
            font-family: "Lato", sans-serif;
            color: #666e74;
            font-size: 16px;
            width: 90%;
            position: relative;
            line-height: 25px;
            &:before {
                content: "\f111";
                font-family: "Font Awesome 5 free";
                font-weight: 800;
                margin-right: 10px;
                font-size: 8px;
                position: absolute;
                top: 12px;
                left: 0px;
            }
        }
    }
}

// CONTACT PHP
.cu-form {
    .form-group {
        width: 100%;
    }
    button {
        background-color: $primary-color;
        font-size: 13px;
    }
}

.cuc-contact {
    text-align: center;
    padding: 50px;
    background-color: #291f62;
    position: relative;
    bottom: 100px;
    z-index: 33;
    box-shadow: 1px 1px 5px #55555547;
    a {
        font-size: 20px;
        color: rgb(78, 78, 78);
        padding: 0 20px;
        color: white;
        height: 50px;
        width: 50px;
        span {
            margin-left: 10px;
        }
        i {
            font-size: 30px;
            height: 60px;
            width: 60px;
            background-color: #ea1818;
            border-radius: 50%;
            line-height: 60px;
        }
    }
}

.cu-map {
    padding: 0 20px;
}

// SERVICE-ONE PHP
.ss-image {
    padding: 20px 0;
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .ss-img-caption {
        text-align: center;
        padding: 20px 0;
        i {
            margin-right: 10px;
        }
        span {
            padding: 0px 10px;
            color: rgb(71, 71, 71);
        }
        p {
            font-size: 13px;
            text-align: center;
            line-height: 20px;
        }
    }
}

// Testimonital Php
.testimonial {
    .tc-single {
        background-color: whitesmoke;
        padding: 60px;
        .tc-title {
            h4 {
                padding: 5px 0;
            }
        }
        .tc-profile {
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
                border: 5px solid white;
            }
        }
        .tc-video {
            padding: 20px 0;
        }
        .tc-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// Footer main
.ftml-img {
    text-align: center;
    img {
        height: 100px;
        width: 100px;
        object-fit: contain;
        background-color: white;
        border-radius: 50%;
    }
}

.footer-main {
    background-color: #2a2a2a;
    .ftml-text {
        padding: 10px 20px;
        p {
            color: white;
            padding: 10px 0;
        }
        span {
            a {
                color: white;
            }
        }
    }
    .ftmc-link {
        color: white;
        li {
            padding: 5px 0;
        }
        a {
            color: white;
        }
    }
    .social-link {
        h5 {
            color: white;
        }
        padding: 45px 0;
        ul {
            li {
                padding: 5px 0;
                color: white;
                i {
                    margin-right: 5px;
                    color: white;
                }
                a {
                    color: white;
                }
            }
        }
    }
    .ftm-center {
        margin-left: 60px;
        .ftmr-form {
            padding: 20px 0;
            width: 100%;
        }
    }
    .ftmlt-contact {
        padding: 10px 0;
        a {
            color: white;
            i {
                margin-right: 10px;
                padding: 8px 0;
                color: white;
            }
        }
    }
    .ftmr-content {
        h5 {
            color: white;
            padding: 0 10px;
        }
    }
    .ftmr-form {
        padding: 20px 0;
        button {
            background-color: #2542e8;
            color: white;
            font-size: 12px;
        }
    }
    .footer-bottom {
        p {
            text-align: center;
            a {
                color: black !important;
            }
        }
    }
    .form-group {
        margin-bottom: 1rem;
        width: 80%;
        color: white;
    }
}

.custom-pad {
    padding: 50px 0;
}

// RESPONSIVE - MOBILE
@media (max-width: 575.98px) {
    body p {
        font-size: 15px;
        margin: 0;
    }
    .col-lg-12,
    .col-lg-5,
    .col-lg-4 {
        padding: 0;
    }
    .header-right {
        display: none;
    }
    .main-banner-single {
        h4 {
            font-size: 14px;
        }
    }
    .main-banner-single .mbs-content h4 {
        font-size: 27px;
    }
    .main-banner-single .mbs-content p {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 13px;
        line-height: 23px;
    }
    .sec-padding {
        padding: 35px 0;
    }
    .main-service .ms-main-obj-single {
        display: block;
        text-align: center;
        background-color: white;
    }
    .main-service .ms-main-obj-single .msol-img {
        padding: 40px;
        background: white;
    }
    .main-service .ms-main-obj-single .msol-img img {
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
    .main-service .ms-learn-more {
        padding: 20px 0;
        text-align: center;
    }
    .main-about .ms-learn-more {
        padding: 20px 0;
        text-align: center;
    }
    .main-about .ma-text {
        padding: 0px 0px;
    }
    .at-your-service .sec-title h3 {
        letter-spacing: 5px;
        font-size: 45px;
    }
    .main-service .ms-main-obj-single .ms-obj-right {
        padding: 0px 10px;
    }
    .ms-text {
        padding: 0 10px;
    }
    .footer-main .ftm-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
    }
    .footer-main .form-group {
        margin-bottom: 1rem;
        width: 100%;
        color: white;
        padding: 0px 10px;
        /* text-align: center; */
    }
    h1,
    h2,
    h3,
    h4 {
        font-size: 35px;
        line-height: 1.22em;
        margin-bottom: 0;
    }
    h6 {
        font-size: 14px;
    }
    .at-your-service .ays-text p {
        text-align: justify;
    }
    .main-testimonial .mtc-single {
        margin-top: 60px;
    }
    .main-testimonial .mtc-single:last-child {
        padding-bottom: 0px;
    }
    .ms-obj-right h6 {
        font-size: 20px;
    }
    .abuc-img img {
        height: 350px;
    }
    .abuc-text ul li {
        font-size: 13px;
        width: 100%;
        line-height: 23px;
        text-align: justify;
    }
    .ib-content .breadcrumb a {
        color: white;
        font-size: 12px;
    }
    .inner-breadcrumb .sec-title h3 {
        font-size: 25px;
    }
    .ss-image img {
        width: 100%;
        height: 355px;
    }
    .ss-image .ss-img-caption span {
        padding: 1px 9px;
        font-size: 11px;
    }
    .ss-image .ss-img-caption p {
        font-size: 12px;
        line-height: 20px;
        text-align: left;
    }
    .cuc-contact {
        display: none;
    }
}

// RESPONSIVE - TABLET