* {
    padding: 0;
    margin: 0;
}

.col-lg-12,
.col-lg-4 {
    position: relative;
    height: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

body {
    font-size: 14px;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
    .form-control {
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
        }
    }
    textarea {
        border-color: #ccc;
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
            outline: none;
        }
    }
    a {
        color: black;
        transition: 0.2s linear;
        &:hover {
            text-decoration: none;
            color: blue;
        }
        &:focus {
            outline: none;
        }
    }
    p {
        font-family: "Lato", sans-serif;
        text-align: justify;
        line-height: 1.875em;
        color: #666e74;
        font-size: 17px;
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    button {
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
        &:active {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    input .btn {
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
    }
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    line-height: 1.22em;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0;
    &:focus {
        outline: none;
    }
}

h6 {
    font-size: 20px;
}

.no-pad {
    padding: 0;
}

.sec-padding {
    padding: 80px 0;
}

.sec-title {
    padding: 20px 0;
    h6 {
        color: #d61b23;
    }
}

.sec-background {
    background-color: white;
}

*:focus {
    outline: none;
}

#myTopbtn {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 25px;
    z-index: 99;
    font-size: 26px;
    border: none;
    outline: none;
    color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 0px #00000063;
    background: #d78f00;
    transition: 0.2s linear;
    opacity: 0.7;
}

#myTopbtn:hover {
    opacity: 1;
    cursor: pointer;
}

.inner-breadcrumb {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    .sec-title {
        padding-top: 30px;
        padding-bottom: 10px;
        p {
            color: white !important;
        }
        h3 {
            color: white !important;
            font-weight: 800 !important;
        }
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(32, 24, 110, 0.815);
        z-index: -1;
    }
}

.ib-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .breadcrumb {
        background-color: transparent;
        a {
            color: white;
            font-size: 16px;
        }
    }
}